<div class="container text-white pb-5 pt-2">
    <h3 class="font-weight-normal">who am i?</h3>
    <p class="font-weight-light">
        I am a WPI Senior studying Computer Science. I enjoy many aspects of what I have studied, 
        and I am particularly interested in creating applications websites and web based services. I have internship 
        experience working at Vistaprint creating web based microservices with sleek user interfaces. I have also worked at
        Cogo Labs creating and designing websites for their portfolio companies and properties. In addition to computer science
        I am pursuing a minor in History. I am especially interested in the Bolshevik and French Revolutions. In my spare time I 
        love to watch soccer, every weekend I wake up early to watch Southampton play in the English Premier League.
    </p>


    <h3 class="mt-5 font-weight-normal">what do i study?</h3>
    <p class="font-weight-light">
        <span>WPI:</span> Class of 2020 <br/>
        <span>Bachelor of Science:</span> Computer Science <br/>
        <span>Minor:</span> History
    </p>
    
    <h3 class="mt-5 font-weight-normal">what do i know?</h3>
    <p class="font-weight-light">
        Java, C, C++, C# Python, HTML, CSS, JavaScript <br/>
        Django REST Framework, React, Angular, .NETCore, NodeJS, JavaFX <br/>
    </p>

    <h3 class="mt-5 font-weight-normal">can you contact me?</h3>
    <p class="font-weight-light">
        <span>Email:</span> cormac.collier_at_gmail.com <br/>
        <span>LinkedIn:</span> in the footer.
    </p>
</div>
