@import '../../shared';

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba($color-main,0.7);
}

.resume-link {
    color: $color-secondary;
}

.resume-link:hover {
    color: $color-text;
    text-decoration: none;
}

