<div class="d-flex justify-content-center align-items-center" id="background">
  <ul class="nav flex-column mr-auto ml-4 mt-4 align-self-start">
    <li class="nav-item">
        <a class="navbar-brand" href="https://github.com/cormaccollier/" target="_blank">
          <img src="../assets/img/github-logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" href="https://www.linkedin.com/in/cormac-lynch-collier-9023b5156/" target="_blank">
          <img src="../assets/img/linkedin-logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>
    </li>
  </ul>
  
  <div class="text-white main-text mr-auto">
    <div class="link-hover">I am Cormac Lynch-Collier.</div>
    <div class="link-hover">web designer.</div>
    <div class="link-hover">software engineer.</div>
    <div class="link-hover">student.</div>  
  </div>

</div>