<div class="card card-body text-white" style="background: none; border: none">
    <div class="d-flex">
        <h3 class="font-weight-normal">{{project.title}} <span class="font-weight-light proj-date">{{project.date}}</span></h3>
    </div>
    <p class="font-weight-light">
        {{project.description}}
        <a *ngFor="let text of project.linkText; let i = index" [attr.data-index]="i" class="read-link font-weight-light" [attr.href]="project.link[i]" target="_blank">
            {{text}}
        </a>
        <!--<a class="read-link font-weight-light" [attr.href]="project.link" target="_blank">{{project.linkText}}</a>-->
    </p>
</div>